.formation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 220px;
    background-color: #90EE90;
    border: 5px white solid;
    margin: 10px;
    padding: 10px;
  }
  
  .formation-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .formation-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .formation-goalkeeper {
    background-color: rgb(226, 211, 226);
  }

  .formation-defender {
    background-color: palegoldenrod;
  }

  .formation-midfielder {
    background-color: paleturquoise;
  }

  .formation-forward {
    background-color: palevioletred;
  }
  
  