.game-setup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-setup-panel {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.game-setup-button {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 20px;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
