.matchup {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  width: 300px;
}

.team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-team-container,
.away-team {
  flex-grow: 1;
}

.home-team-container {
  text-align: left;
  width: 100px;
}

.away-team {
  text-align: right;
  width: 100px;
}

.team-link {
  text-decoration: none;
  color: #333;
  /* font-weight: bold; */
  font-size: 16px;
}

.team-score-container {
  flex-grow: 0;
  margin: 0 10px;
}

.match-score {
  font-weight: bold;
  font-size: 20px;
}
