.team-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .team-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-item button {
    width: 140px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
  }
  
  .team-button{
    background-color: #ffffff; /* Light button color */
  color: #333333; /* Dark text color */
  }
  
  .team-button:hover {
    background-color: #dddddd; 
    color: #333333; /* Dark text color */
  }
  
  .team-button.selected {
    background-color: #2196f3;;
    color: #ffffff; /* Light text color */
  }
  