.league-leaders-container {
  font-family: Arial, sans-serif;
  max-width: 400px;
  height: 600px;
  max-height: 600px;
  overflow: scroll;
  margin: 0 auto;
}

.league-leaders {
  margin-bottom: 20px;
}

.stats-list {
  list-style-type: none;
  padding: 0;
  width: 200px;
  margin: auto;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.stats-row-info {
  display: flex;
  flex-direction: column;
}

.stats-row-player-name {
  font-size: 16px;
  overflow-y: scroll;
  max-width: 160px;
}

.stats-row-player-team-name {
  font-size: 12px;
  color: #666;
  text-align: left;
}

.stats-row-stat {
  font-weight: bold;
  font-size: 16px;
}

h4{
  margin: 0;
}
